.Square {
    background-color:red;
    position: absolute;
    
}

.Rectangle {
    background-color:green;
    position: absolute;
    
}

.Circle {
    background-color: purple;
    position: absolute;
    border-radius:50%
}

.Triangle-bottomright {

    position: absolute;
    border-bottom:300px solid black;
    border-left:300px solid transparent;

}

#container {
    width:500px;
    height:500px;
    background-color: gainsboro;
    

} 

#canvas-container{
    position:relative;
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}