.Square {
    background-color:purple;
    position: absolute;
    width:100px;
    height:100px;
}

.Rectangle {
    background-color:blue;
    position: absolute;
    width:200px;
    height:100px;
}

.Circle {
    background-color: black;
    position: absolute;
    width:100px;
    height:100px;
    border-radius:50%
}

.Triangle-bottomright {
    width: 0; 
    height: 0;
    position: absolute;
    border-bottom:100px solid red;
    border-left:100px solid transparent;

}

#container {
    width:500px;
    height:500px;
    background-color: gainsboro;
    

} 

#canvas-container{
    position:relative;
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

#test{
    background-color:purple;
    position: absolute;
    

}